$themes: (
  background: (
    light: #f8f9fa,
    dark: #2b2d42,
  ),
  text: (
    light: #2b2d42,
    dark: #f8f9fa,
  ),
  primary: (
    light: #0582ca,
    dark: #8ecae6,
  ),
  white: (
    light: #ffffff,
    dark: #22223b,
  ),
  colors: (
    light: #2b2d42,
    dark: #8ecae6,
  ),
  colors-02: (
    light: #f8f9fa,
    dark: #8ecae6,
  ),
  colors-03: (
    light: #0582ca,
    dark: #f8f9fa,
  ),
  dark: (
    light: #2b2d42,
    dark: #2b2d42,
  ),
  grey: (
    light: #6c757d,
    dark: #ced4da,
  ),
  light-grey: (
    light: #ced4da,
    dark: #ced4da,
  ),
  contrast: (
    light: #f8f9fa,
    dark: #2b2d42,
  ),
);
