@use '@sass/abstract/variables'as *;
@use '@sass/abstract/mixins'as *;

.navbar {
    position: fixed;
    width: 100%;
    background-color: $color-dark;
    display: flex;
    padding: 1em 2em;
    z-index: 10;
}


.links {
    margin-left: auto;
    font-size: clamp(1.6rem, 1vw, 1.8rem);
    display: flex;
    gap: 2rem;
}

.link {
    color: $color-primary;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}

.button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    & svg {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        color: $color-white;
    }
}

