@use '@sass/abstract/mixins'as *;
@use '@sass/abstract/variables'as *;

.skills {
    display: grid;
    justify-items: center;
    padding-top: 8rem;
}

.grid {
    width: 35%;
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }
}